.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.content {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
#instagramWrapper {
  width: 100%;
}

#popup_wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAAAXRSTlOzEo46UAAAAApJREFUeF5jYAAAAAIAAd6ej78AAAAASUVORK5CYII=');
  zoom: 1;
}

#popup_wrapper:nth-child(n) {
  filter: none;
}

#popup_wrapper .overlay {
  padding: 5% 0;
}

.instagramDetail {
  width: 100%;
}

.instagramDetail ig-embed {
  margin: 0 auto !important;
}
